:root {
    --bg: rgb(255, 255, 255);
    --fg: #111;
    --muted: #666;
    --text: #fff;
    --text2: #20308D;
    --primary: #151789;
    --secondary: #3587D0;
    --tertiary: #181818;
    --quaternary: #B84745;
    --erratic: #1884B4;
    --maxw: 73.2rem;
    --gutter: 2rem;
    
    --main-sliders-tit: #000;
    --main-sliders-sub: #6F6F6F;

}

$bp-lg:1280px;
$bp-md:992px;
$bp-sm:768px;
$bp-xs:480px;
