:root {
    --bg: rgb(255, 255, 255);
    --bg2: rgb(237, 237, 237);
    --bg3: rgb(26, 26, 26);
    --bg4: rgb(33, 33, 34);
    --bg5: rgb(240, 240, 240);
    --bg6: rgba(255, 255, 255, 0.979);

    --fg: #111;
    --muted: #666;
    --text: #fff;
    --text2: #20308D;
    --text3: #a8a8a8;
    --text4: #000;
    --text5: #1a1a1a;
    --text6: #009BDE;
    --text7: #555555;
    --text8: #4561A2;

    --primary: #151789;
    --secondary: #3587D0;
    --tertiary: #181818;
    --quaternary: #B84745;
    --erratic: #1884B4;
    --maxw: 73.2rem;
    --gutter: 2rem;

    --tabhover: #5F61DB;
    
    --main-sliders-tit: #000;
    --main-sliders-sub: #6F6F6F;

}

$bp-lg:1280px;
$bp-md:992px;
$bp-sm:768px;
$bp-xs:480px;
