.FixedTopBtn {
    width: 4.3rem;
    position: fixed;
    right: 2rem;
    bottom: 1.3rem;
    z-index: 5;
    text-align: center;

    // background-color: var(--primary);
    >* {
        display: block;
    }

    .top-btn {
        width: 100%;
        height: 4.3rem;
        background: #5158FF url(/img/icon_top.svg) center/40% no-repeat;
        border-radius: 50%;
        cursor: pointer;
        font-size: 0;
    }
    .top-btn:hover {
        background-color: #A8ABFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .talk-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;

        .talk-btn {
            width: 100%;
            height: 4.8rem;
            margin: 1.2rem 0;
            font-size: 1.2rem;
            color: var(--text);
            position: relative;
            .icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                background: url(/img/icon_talk.svg) no-repeat center;
                background-size: contain;
            }
        }
    
        p{
            color: #02B59D;
            font-family: 'Source Serif 4', serif;
            font-style: italic;
            font-weight: 600;
            font-size: 1.1rem;
            cursor: pointer;
        }
    }

    .talk-wrap:hover {
        .talk-btn .icon {
            background: url(/img/icon_talk_hover.svg) no-repeat center/contain;
            filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
        }

        p {
            color: #44E9D5;
        }
    }
}