.hero-container {
    height: 76.9rem;

    @media screen and (max-width:1024px) {
        height: 48rem;
    }

    .swiper {
        height: 100%;
    }
    
    .hero-slide {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: background-image 0.15s ease-in-out;

        .inner {
            display: flex;
            justify-content: flex-start;
            max-width: 72.488%;

            .t-wrap {
                height: 32.5rem;
                margin: 18.3rem 0 0;

                h2.tit {
                    line-height: 85px;
                    letter-spacing: 0;
                }

                p.txt {
                    margin-top: 3.7rem;
                    font-size: 2.1rem;
                    font-family: 'Noto Sans KR', sans-serif;
                    font-weight: 300;
                    line-height: 21px;
                }
            }

            @media screen and (max-width:1024px) {
                max-width: 83.6%;
                .t-wrap {
                    height: 20.8rem;
                    margin: 8.4rem 0 0;

                    h2.tit {
                        font-size: 4rem;
                        line-height: 55px;
                    }

                    p.txt {
                        margin-top: 2rem;
                        font-size: 1.6rem;
                    }
                }
            }
        }

        &.hs-1, &.hs-2, &.hs-3, &.hs-4 {
            h2.tit {
                color: var(--main-sliders-tit)
            }

            p.txt {
                color: var(--main-sliders-sub)
            }
        }

        &.hs-1 {
            a.btn {
                background: var(--secondary);
            }
        }

        &.hs-2 {
            a.btn {
                background: var(--tertiary);

                &:hover {
                    color: var(--tertiary);
                    border: 1px solid var(--tertiary);
                }
            }
        }

        &.hs-3 {
            a.btn {
                background: var(--quaternary);

                &:hover {
                    color: var(--quaternary);
                    border: 1px solid var(--quaternary);
                }
            }
        }

        &.hs-4 {
            a.btn {
                background: var(--erratic);

                &:hover {
                    color: var(--erratic);
                    border: 1px solid var(--erratic);
                }
            }
        }
    }

    .hero-nav{
        position: absolute;
        z-index: 3;
        left: 13.3306vw;
        bottom: 8.3rem;
        display: flex;
        align-items: center;
        gap:3.6rem;

        @media screen and (max-width:1024px) {
            left: 8vw;
            gap: 2rem;
        }
        
        .arr-prev,
        .arr-next {
            width: 5rem;
            height: 1.7rem;
            // background-color: aliceblue;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            font-size: 0;

            @media screen and (max-width:1024px) {
                width: 4rem;
                height: 1.36rem;
            }
        }
        .arr-prev{
            background-image: url(/img/icon_main_ban_arrow_prev.svg);
        }
        .arr-next{
            background-image: url(/img/icon_main_ban_arrow_next.svg);
        }

        .swiper-pagination-fraction{
            width: 4.5rem;
            height: 7.1rem;
            position: relative;
            font-size: 0;
            color: var(--text2);
            line-height: 30px;
            letter-spacing: 14px;

            @media screen and (max-width:1024px) {
                height: 5.5rem;
            }
            
            .swiper-pagination-current{
                font-size: 2.4rem;
                position: absolute;
                left: 0;
                top: 8px;

                @media screen and (max-width:1024px) {
                    font-size: 1.8rem;
                }
            }

            .swiper-pagination-total{
                font-size: 2.4rem;
                position: absolute;
                right: 0;
                bottom: -8px;

                @media screen and (max-width:1024px) {
                    font-size: 1.8rem;
                }
            }

            &::after{
                content:"";
                display: flex;
                position: absolute;
                width: 1px;
                height: 63.64px;
                background-color: var(--text2);
                left: 50%;
                top: calc(50% + 8px);
                transform: translate(-50%,-50%) rotate(45deg);

                @media screen and (max-width:1024px) {
                    height: 57.98px;
                }
            }
        }

    }

}