.product-tab-section {
    max-width: 140rem;
    margin: 0 auto 11.1rem;

    @media screen and (max-width:1440px) {
        padding: 0 2rem
    }

    // 제목
    h2.tit {
        text-align: center;
        color: var(--text4);
        font-size: 4.2rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 5rem;
        height: 3.2rem;
        line-height: 3.2rem;
        letter-spacing: -0.075rem;
    }

    // tab 메뉴
    .tab-menu {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        margin-bottom: 1rem;

        @media screen and (max-width:999px) {
            grid-template-columns: repeat(2, 2fr);

        }

        .tab-btn {
            border: 0;
            border-radius: 1rem 1rem 0 0;
            background: var(--tabhover);
            color: var(--text);
            padding: 1rem 11.775rem;
            font-size: 2.4rem;
            cursor: pointer;

            @media screen and (max-width:1440px) {
                font-size: 2rem;
                padding: 1rem 0;
            }

            @media screen and (max-width:999px) {
                padding: .5rem 0;
                font-size: 1.6rem;
            }
        }

        .tab-btn.active {
            background: var(--primary);
        }
    }

    // tab 내용
    .tab-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .8rem;
            @media screen and (max-width:999px) {
                display: flex;
                flex-wrap: wrap;
            }
        .main-product {
            position: relative;
            display: block;
            min-height: 66rem;
            background: #fff;
            overflow: hidden;
            text-decoration: none;

            @media screen and (max-width:1440px) {
                min-height: 50rem;
            }

            @media screen and (max-width:999px) {
                min-height: 10rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }

            .main-product-text {
                position: absolute;
                left: 5rem;
                bottom: 4rem;

                @media screen and (max-width:1440px) {
                    left: 2rem;
                    bottom: 2rem;
                }

                h3 {
                    margin: 0 0 3.5rem;
                    font-family: 'Circular Std', sans-serif;
                    font-size: 4rem;
                    font-weight: 400;
                    line-height: 1.275;
                    letter-spacing: 0;
                    color: var(--text8);

                    @media screen and (max-width:1440px) {
                        font-size: 2rem;
                    }

                    @media screen and (max-width:999px) {
                        margin-bottom: 2rem;
                    }
                }

                a {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 21.3rem;
                    height: 5.1rem;
                    font-family: 'Circular Std', sans-serif;
                    font-weight: 400;
                    font-size: 1.49rem;
                    line-height: 1.44rem;
                    letter-spacing: 0rem;
                    color: var(--text);
                    background: var(--primary);
                    border-radius: 99rem;

                    @media screen and (max-width:1440px) {
                        height: 4rem;
                    }

                    @media screen and (max-width:999px) {
                        min-width: 0;
                        padding: 0 3rem
                    }
                }
            }
        }

        .sub-product-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 8px;
            // margin: .3rem 0;

            .sub-product-card {
                position: relative;
                display: block;
                min-height: 306px;
                background: #fff;
                overflow: hidden;
                text-decoration: none;

                @media screen and (max-width:1440px) {
                    min-height: 15rem;
                }

                @media screen and (max-width:999px) {
                    min-height: 10rem;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                    transition: transform 0.35s ease;
                }

                .sub-product-hover {
                    position: absolute;
                    inset: 0;
                    background: rgba(80, 80, 80, 0.45);
                    color: var(--text);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 5rem;
                    text-align: center;
                    opacity: 0;
                    transition: opacity 0.3s ease;

                    p {
                        font-size: 2.4rem;
                        font-weight: 600;
                        line-height: 3.4rem;
                        word-break: keep-all;
                    }

                    span {
                        font-size: 2rem;
                        line-height: 2.4rem;
                    }
                }
            }

            .sub-product-card:hover .sub-product-hover {
                opacity: 1;
            }
        }
    }
}